<!DOCTYPE HTML>
<html> 
    <head>
        <title>15x15</title>
		<!-- <link rel="stylesheet" type="text/css" href="./style.css"> -->
		
		<style>
		body{
			margin: 50px 0;
		}
		table {
		  border-collapse: collapse;
		  margin: 0 auto;
		}

		table, th, td {
		  border: 1px solid black;
		}

		th, td {
			padding:0;
			margin:0;
			width: 50px;
			height: 50px;
			text-align: center;
		}

		td:hover{
			background-color: blue;
		}
		</style>
		
        <script type="text/javascript">
			function zeroPad(num, places) {
			  var zero = places - num.toString().length + 1;
			  return Array(+(zero > 0 && zero)).join("0") + num;
			}

            window.onload = function() {
                var table = document.getElementById("board");
                for(var i = 0; i < 15; i++){
                    var row = document.createElement("tr");
                    for( var j = 0; j < 15; j++ ){
                        var col = document.createElement("td");
                        //col.innerHTML = "*"; // assigning value to the cell
						col.id = zeroPad(j, 2) + zeroPad(i, 2);
                        row.appendChild(col);
                    }
                    table.appendChild(row);
                }
            };
        </script>
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
		<script type="text/javascript">

		var socket = io.connect('http://' + document.domain + ':' + location.port);
		
		socket.on('connect', function() {
			socket.emit('my_event', {
			  data: 'User Connected'
			})
			/*
			var form = $('form').on('submit', function( e ) {
					e.preventDefault()
					let user_name = $( 'input.username' ).val()
					let user_input = $( 'input.message' ).val()
					socket.emit( 'my event', {
						user_name : user_name,
						message : user_input
					})
					$( 'input.message' ).val( '' ).focus()
				})
			*/
			
			var board = $('#board').on('click', function(e) {
				socket.emit('my_event', {
					x: parseInt((e.pageX - $(this).offset().left)/50),
					y: parseInt((e.pageY - $(this).offset().top)/50)
					})
			})
		})
		socket.on('my_response', function(msg) {
			console.log(msg)
			if(typeof msg.x !== 'undefined') {
			  $("#" + zeroPad(msg.x, 2) + zeroPad(msg.y, 2)).html("*");
			}
		})
		</script>
    </head>
    <body>
        <table id="board"></table>
    </body>     
</html>