<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <h1>Welcome, {{ current_user.login }} !</h1>
        <a href="{{ url_for("logout") }}">Logout</a>
        <h2>Joined games</h2>
        <ul>
            {% for game in joined_games %}
                <li><a href="/game/{{ game.id }}">Game #{{ game.id }}</a></li>
            {% endfor %}
        </ul>
        <h2>Open games</h2>
        <ul>
            {% for game in open_games %}
                <li><a href="/game/{{ game.id }}">Game #{{ game.id }}</a></li>
            {% endfor %}
        </ul>
    </body>
</html>
