<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="home.css" type="text/css" />
    <meta charset="UTF-8">
    <title>Home</title>
    <style>body{
        background: url("background.jpg") no-repeat;
    }</style>
</head>
<body>
<img src="logo.png">

<div class="white">
    <div class="button">
        <a href="/api/">
        <button id="play">Play</button></a>
        <a href="help.html">
        <button id="check">Check Rules</button></a>
    </div>
</div>
</body>
</html>