<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="home.css" type="text/css" />
    <meta charset="UTF-8">
    <title>Players</title>
</head>
<body>
<img src="../src/image/logo.png">
<div class="white">
    <form id="player">
        <p>Game Numbers:</p>

        <a href="processing.html">
            <input type="button" value="3 Players">
        </a>

        <a href="processing.html">
            <input type="button" value="4 Players">
        </a>
        <a href="processing.html">
            <input type="button" value="5 Players">
        </a>
        <a href="processing.html">
            <input type="button" value="6 pLayers">
        </a>
    </form>
    <a href="home%20page.html">
        <button>Main Menu</button></a>
</div>
</body>
</html>