<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="home.css" type="text/css" />
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<img src="../front-end/src/image/logo.png">
<div class="white">
    <form id="entername">
        <p>Enter your name:</p>
        <input id="groupname">
        <a href="mode.html">
        <input  id="start" type="button" value="Start"></a>
    </form>
    <a href="home%20page.html">
    <button>Main Menu</button></a>
</div>
</body>
</html>