
html {
  height: 100%;
  /*background-color:  lightslategrey;*/
 background-color: cadetblue;
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  cursor: pointer;
  box-shadow: 2px 2px gray;
}

input {
  color: black;
}

.logo{
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
  width: 100px;
}


.FormContainer {
  position: relative;
  width: 40vw;
  height: 25vw;
  border-radius: 20px;
  background-color: lightsteelblue;

  border: 1px solid gray;
}

.game {
  width: 70vw;
  height: 40vw; 
  border-radius: 10px;
  background-color: lightsteelblue;
  margin: auto;
  border: 1px solid gray;
}

.game-board {
  width: 55vw;
  height: 100%;
  float: left;
}

.board {
  width: 55vw;
  height: 40vw;
}

.boardMain {
  width: 43vw;
  height: 40vw;
  float: left;
  position: relative;
}

.squareDiv {
  width: 40vw;
  height: 40vw;
  margin: 0 auto;
  position: relative;
}

.squareDiv table {
  width: 40vw;
  height: 40vw;
  border-spacing: 0;
  margin: 0 auto;
}

.squareDiv td {
  width: 2.5vw;
  height: 2.5vw;
  line-height: 0;
  padding: 0;
  margin: 0;
  border-radius: 5px;
  border: 1px solid black;
  background-color: lightyellow;
}

.ST2 {
  background-image: url("../src/bonus/ST.jpg");
  background-size: cover;
}


.DL2 {
  background-image: url("../src/bonus/DL.jpg");
  background-size: cover;
}

.DW2 {
  background-image: url("../src/bonus/DW.jpg");
  background-size: cover;
}

.TL2 {
  background-image: url("../src/bonus/TL.jpg");
  background-size: cover;
}


.TW2 {
  background-image: url("../src/bonus/TW.jpg");
  background-size: cover;
}

.leftBar {
  width: 10vw;
  height: 100%;
  float: left;
  position: relative;
}

.leftButton{
  width: 6vw;
  height: auto;
  margin: 0 auto;
}

.leftButton .passButton {
  background-color: lightsalmon;
}

.leftButton button{
  margin-top: 0.5vw;
  height: 2.5vw;
  width: 6vw;
  text-align: center;
  border-radius: 20px;
  font-size: 80%;

}

.rightBar {
  padding-top: 10px;
  width: 12vw;
  height: 100%;
  border-radius: 5px;
  background-color: transparent;
  float: left;
}

.wordsPlayedNav {
  text-align: center;
  font-size: 1vw;
  font-weight: bold;
}

.wordsPlayed {
  height: 60%;
  text-align: start;
  font-size: 1vw;
}

#roundStatus {
  height: 10%;
  font-size: 1vw;

}

.score {
  height: 10% auto;
  font-size: 1vw;

}

.bag {
  height: 10%;
  font-size: 1vw;

}

.functionBar {
  width: 6vw;
  height: auto;
  position: relative;
  margin: 1vw auto;
}

.functionBar td {
  width: 2.5vw;
  height: 2.5vw;
  line-height: 0;
  padding: 0;
  margin: 0;
  border-radius: 5px;
  border: 1px solid black;
  background-color: oldlace;
  
}

.rackButton {
  margin: 0.5vw auto;
  position: relative;
}

.rackButton button{
  margin-top: 0.5vw;
  height: 2.5vw;
  width: 6vw;
  text-align: center;
  border-radius: 20px;
  font-size: 80%;
  background-color: wheat;
}

#rackBarPlay {
  background-color: lightgreen;
  font-weight: bold;
}

.rackBar {
  margin: 0.5vw auto;
  position: relative;
}

.rackBar table {
  margin: 0 auto;
}

.tile {
  width: 2.5vw;
  height: 2.5vw;
  border-radius: 5px;
}

.newTile {
  width: 2.4vw;
  height: 2.4vw;
  border-radius: 5px;
  border: 1px solid red;
}


.popup-content {
  border-radius: 20px;
  min-height: 100px;
  max-width: 800px;
  align-items: center;
}

.swapPop {
  width: 100%;
  height: 100%;
  align-content: center;
}

.swapPopNav {
  width: 20vw;
  margin-left: 18vw;
}

.selectrack{
  width: 30vw;
  margin-left: 14vw;

}

.swapPopFunction {
  width: 20vw;
  margin-left: 18vw;
}