/* body {
  margin: 50px 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}
/*body{*/
  /*background: url(../src/image/background.jpg) no-repeat;*/
  /*background-size: cover;*/
/*}*/

.bgimg{
      position:absolute;
       top: 0;
       left: 0;
       width:100%;
       height:100%;
       /*min-width: 1000px;*/
       z-index:-10;
       zoom: 1;
       /* background: url(../src/image/background.jpg) no-repeat; */
       background-color: firebrick;
       background-size: cover;
       -webkit-background-size: cover;
       -o-background-size: cover;
       background-position: center 0;
   }
.logo{
  margin-left: 50px;
}
.game {
  margin: 10px;
  width: 1000px auto;
  height: 700px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, .15);
  backdrop-filter: blur(5px);
  margin: 0 auto;
}

#board table {
  position: absolute;
  /*left: 160px;*/
  border: 1px solid black;
  top:20px;
  margin-left: 430px;
}

.normaltr {
  align-content: center;
}

.normaltd {
  border: 1px solid black;
  padding:0;
  margin:0;
  width: 31px;
  height: 30px;
  vertical-align: bottom;
  border-radius: 10%;
  background-color:lightgoldenrodyellow;
  line-height: 0;
}

.ST2 {
  border: 1px solid black;
  padding:0;
  margin:0;
  width: 31px;
  height: 30px;
  vertical-align: bottom;
  border-radius: 10%;
  background: url("../src/bonus/ST.jpg") no-repeat;
  line-height: 0;
}
.DL {
  align-content: center;
}

.DL2 {
  border: 1px solid black;
  padding:0;
  margin:0;
  width: 31px;
  height: 30px;
  vertical-align: bottom;
  border-radius: 10%;
  background: url("../src/bonus/DL.jpg") no-repeat;
  line-height: 0;
}

.DW {
  align-content: center;
}

.DW2 {
  border: 1px solid black;
  padding:0;
  margin:0;
  width: 31px;
  height: 30px;
  vertical-align: bottom;
  border-radius: 10%;
  background: url("../src/bonus/DW.jpg") no-repeat;
  line-height: 0;
}

.TL {
  align-content: center;
}

.TL2 {
  border: 1px solid black;
  padding:0;
  margin:0;
  width: 31px;
  height: 30px;
  vertical-align: bottom;
  border-radius: 10%;
  background: url("../src/bonus/TL.jpg") no-repeat;
  line-height: 0;
}

.TW {
  align-content: center;
}

.TW2 {
  border: 1px solid black;
  padding:0;
  margin:0;
  width: 31px;
  height: 30px;
  vertical-align: bottom;
  border-radius: 10%;
  background: url("../src/bonus/TW.jpg") no-repeat;
  line-height: 0;
}

#leftButton{
  position: relative;
  bottom:32px;
  left: 10px;
}
#leftButton button{
  margin: 5px;
  height:60px ;
  width: 120px;
  text-align: center;
  border-radius: 20%;
  background-color: wheat;
  font-size: 20px;
}

#rightBar {
  margin-top: 0px;
  margin-left: 1010px;
  width: 220px;
  height: 525px;
  background-color: wheat;
  border: 1px solid black;
  top:20px;
  position: absolute;
}

#wordsPlayedNav {
  text-align: center;
}

#wordsPlayed {
  height: 350px;
  text-align: start;
}

#scoreBar {
  height: 150px;
}

#functionBar {
  position: relative;
  top: 400px;
  left:420px;
}
#tile {
  width: 31px;
  height: 30px;
  border-radius: 10%;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

#functionBar table {
  position: absolute;
  top: 0px;
  left:300px;
  margin: 0 auto;
}

#functionBar th, #functionBar td {
  width: 31px;
  height: 30px;
  text-align: center;
  border-radius: 10%;
  line-height: 0;
  border: 1px solid black;
}

#functionBar button {
  background-color: burlywood;
  border-radius: 25%;
  margin: 2px;
  font-size: 18px;
  width: 69px;
  height: 35px;
}
#newTile {
  width: 29px;
  height: 29px;
  border-radius: 10%;
  border: 2px solid red;
}
#selectrack{
  position: absolute;
  right: 750px;
  top:10px;
}