
code {
  font-family: 'Consolas', 'source-code-pro', 'Menlo', 'Monaco',  "Courier New",
  monospace;
}


button {
  cursor: pointer;
  box-shadow: 2px 2px gray;
}

.bgimg{
      position:absolute;
       top: 0;
       left: 0;
       width:100%;
       height:100%;
       /*min-width: 1000px;*/
       z-index:-10;
       zoom: 1;
       /* background: url(../src/image/background.jpg) no-repeat; */
       background-color: firebrick;
       background-size: cover;
       -webkit-background-size: cover;
       -o-background-size: cover;
       background-position: center 0;
   }
.logo{
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
  width: 100px;
}

.FormContainer {
  position: relative;
  width: 700px;
  height: 400px;
  margin: 0 auto;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, .15);
  backdrop-filter: blur(20px) contrast(.8);
  border: 1px solid gray;
}

.game {
  z-index: 10;
  width: 1000px;
  height: 700px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, .15);  
  backdrop-filter: blur(20px);
  margin: 20px auto;
  padding: 20px;
  padding-top: 0px;  border: 1px solid gray;
}

#board table {
  position: absolute;
  border: 1px solid black;
  top:50px;
  margin-left: 210px;
}

.normaltr {
  align-content: center;
}

.normaltd {
  border: 1px solid black;
  padding:0;
  margin:0;
  width: 31px;
  height: 30px;
  vertical-align: bottom;
  border-radius: 10%;
  background-color:lightgoldenrodyellow;
  line-height: 0;
}

.ST2 {
  border: 1px solid black;
  padding:0;
  margin:0;
  width: 31px;
  height: 30px;
  vertical-align: bottom;
  border-radius: 10%;
  background: url("../src/bonus/ST.jpg") no-repeat;
  line-height: 0;
}
.DL {
  align-content: center;
}

.DL2 {
  border: 1px solid black;
  padding:0;
  margin:0;
  width: 31px;
  height: 30px;
  vertical-align: bottom;
  border-radius: 10%;
  background: url("../src/bonus/DL.jpg") no-repeat;
  line-height: 0;
}

.DW {
  align-content: center;
}

.DW2 {
  border: 1px solid black;
  padding:0;
  margin:0;
  width: 31px;
  height: 30px;
  vertical-align: bottom;
  border-radius: 10%;
  background: url("../src/bonus/DW.jpg") no-repeat;
  line-height: 0;
}

.TL {
  align-content: center;
}

.TL2 {
  border: 1px solid black;
  padding:0;
  margin:0;
  width: 31px;
  height: 30px;
  vertical-align: bottom;
  border-radius: 10%;
  background: url("../src/bonus/TL.jpg") no-repeat;
  line-height: 0;
}

.TW {
  align-content: center;
}

.TW2 {
  border: 1px solid black;
  padding:0;
  margin:0;
  width: 31px;
  height: 30px;
  vertical-align: bottom;
  border-radius: 10%;
  background: url("../src/bonus/TW.jpg") no-repeat;
  line-height: 0;
}

#leftButton{
  top: 150px;
  position: relative;
  bottom:32px;
  left: 20px;
  width: 200px;
}

#leftButton #passButton {
  background-color: lightsalmon;
}
#leftButton button{
  margin: 15px;
  height:60px ;
  width: 130px;
  text-align: center;
  border-radius: 20px;
  font-size: 20px;
  font-weight: bold;
}

#rightBar {
  border-radius: 5px;
  margin-top: 0px;
  margin-left: 750px;
  width: 220px;
  height: 505px;
  border: 1px solid black;
  background-color: wheat;
  top:50px;
  position: absolute;
}

#wordsPlayedNav {
  text-align: center;
}

#wordsPlayed {
  height: 350px;
  text-align: start;
}

#scoreBar {
  height: 150px;
}

#functionBar {
  position: relative;
  top: 600px;
  left: 200px;
}
#tile {
  width: 31px;
  height: 30px;
  border-radius: 10%;
}

#functionBar table {
  position: absolute;
  top: 0px;
  left:300px;
  margin: 0 auto;
}

#functionBar th, #functionBar td {
  width: 31px;
  height: 30px;
  text-align: center;
  border-radius: 10%;
  line-height: 0;
  border: 1px solid black;
}

#functionBar button {
  background-color: burlywood;
  border-radius: 25%;
  margin: 2px;
  font-size: 18px;
  width: 69px;
  height: 35px;
}
#newTile {
  width: 29px;
  height: 29px;
  border-radius: 10%;
  border: 2px solid red;
}


.popup-content {
  border-radius: 20px;
  min-height: 100px;
  max-width: 800px;
  align-items: center;
}

.swapPop {
  width: 100%;
  height: 100%;
  align-content: center;
}

.swapPopNav {
  display: block;
  align-content: center;
}

.selectrack{
  display: block;
  align-content: center;

}

.swapPopFunction {
  display: block;
  align-content: center;
}